@font-face {
  font-family: "KyoboHandwriting2022khn";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChosunCentennial";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ChosunCentennial";
  margin: 0.5%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f280b;
}

.menus {
  position: fixed;
}

a {
  color: rgb(190, 182, 166);
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.5vw;
}

a:hover {
  color: #c64219;
  cursor: pointer;
  font-size: 2.5vw;
}

img {
  width: 25%;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 1vw;
}

.trio_img {
  width: 100%;
}

article {
  display: flex;
  margin-top: 10px;
}

.contents {
  display: block;
  color: #f1e0e0;
  margin: 2vw;
}

.quotes {
  padding: 2vw;
  margin: 5vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../image/characters/명대사.png);
  background-size: cover;
  color: #2f280b;
}

.Hermione,
.Ginny,
.Voldemort,
.Dumbledore,
.McGonagall {
  flex-direction: row-reverse;
}

h2 {
  font-size: 2.5vw;
  text-decoration: underline;
}

p {
  font-size: 1.5vw;
}
