@font-face {
  font-family: "KyoboHandwriting2022khn";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "KyoboHandwriting2022khn";
}

aside {
  font-size: 40px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #c64219;
  cursor: pointer;
}

img {
  width: 30%;
}

.trio_img {
  width: 100%;
}

article {
  display: flex;
  margin-top: 10px;
}

.contents {
  display: block;
}

.Hermione,
.Ginny,
.Voldemort,
.Dumbledore,
.McGonagall {
  flex-direction: row-reverse;
  text-align: right;
}
